@import "../../config/variables";

.gridContainer {
  	display:grid;
    height:calc(100vh - 1rem);
    grid-template-rows: repeat(5, minmax(50px, auto)) minmax(65px, auto);
    grid-template-columns: repeat(3, minmax(50px, auto)) minmax(50px, 80px) ;
    background-color:black;
    @include for-tablet-landscape-down {
		 height:auto;
	}
}

.image {
	grid-column: 1 / 5;
	grid-row: 1 / 7;
	overflow: hidden;
}

.image > div {height:100%;}

.subTitle {
	grid-column: 2 / 4;
	grid-row: 5 / 6;
	z-index:1;  
	display:flex;
	align-items: flex-start;
  justify-content: center;
  h2 {
  	letter-spacing: 6.5px;
  	font-weight:300;
  	color:white;
  	 @include for-tablet-landscape-down {
		 font-size: 2rem;
	}
  }
}

.hero {
	grid-column: 2 / 4;
	grid-row: 3/5;
	z-index:1;

	display:flex;
	align-items: center;
  

	.title {
		color: white;
	    font-family:'Montserrat',sans-serif;
	    font-size: 3.6rem;
	    font-weight:900;
	    line-height: 4.165rem;
	    
	}
}
